body{
  background: linear-gradient(90deg, #FF5F6D, #FFC371);
  background-size: cover;
  font-family: Old Standard TT;
}

h1{
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  font-family: Andale Mono, monospace;
  margin-top: 10px;
}

hr{
    width: 900px;
    margin-right: 150px;
    border-style: solid;
    background-color: #403B4A;
}

/*for TABS and their display*/
ul.tab {
    overflow: hidden;
    display: inline-block;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    margin-left: 300px;
    margin-top: 10px;
    color: white;
}

.tab button:hover, .tab button.active {
    background-color: #403B4A;
    border-radius: 10px;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(1.2);
}

.hide {
    display: none;
}

.edit-title{
    color: gold;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

#birth_age{
  margin-left: 60px;
  margin-top: 10px;
}

.label-control{
    text-align: center;
    width: 150px;
    margin-top: 5px;
}

#start_label{
  margin-left: 140px;
  font-family: Old Standard TT;
  font-size: 18px;
}

#end_label{
  margin-left: 144px;
  font-family: Old Standard TT;
  font-size: 18px;
}

#date_label{
    font-size: 18px;
    margin-left: 320px;
}

#user_date_label, #select_date_label{
  font-size: 18px;
  margin-left: 20px;
}

#month_label{
  font-size: 18px;
  margin-left: 70px;
  margin-right: 20px;
}

#user_month_label, #select_month_label{
  font-size: 18px;
  margin-left: 70px;
  margin-right: 20px;
}

#year_label{
  font-size: 18px;
  margin-left: 50px;
  margin-right: 20px;
}

#user_year_label, #select_year_label{
  font-size: 18px;
  margin-left: 50px;
  margin-right: 20px;
}

.button {
    margin-top: 25px;
    margin-left: 565px;
    position: relative;
    overflow: hidden;
    width: 110px;
    height: 50px;
    font-size: 17px;
    display: inline;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.button:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.button:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.button:active:after {
  opacity: 0;
}

#date_linkButton{
  overflow: hidden;
  color: black;
  margin-top: 10px;
  margin-left: 545px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 10px 15px;
  border-style: groove;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

label{
    font-weight: bold;
}

.output {
    background: linear-gradient(-90deg, #f4ff71, #ffe1ed);
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    width: 600px;
    height: 300px;
    margin-top: 10px;
    margin-left: 330px;
    font-family: Trebuchet MS;
    font-size: 18px;
    text-shadow: 1px 1px gray;
    text-align: center;
}

#diff_data_output{
    background: linear-gradient(-90deg, #FF5F6D, #FFC371);
    width: 600px;
    height: 285px;
    margin-left: 240px;
    text-align: center;
    /*align-content: center;*/
    font-family: Trebuchet MS;
    font-size: 20px;
    text-shadow: 1px 1px gray;
}