body{
  background: linear-gradient(90deg, #FF5F6D, #FFC371);
  background-size: cover;
  font-family: Old Standard TT;
}

h1{
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  font-family: Andale Mono, monospace;
}

.tab{
  overflow: hidden;
  display: inline-block;
  margin-top: 10px;
}

.tab button{
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin-left: 300px;
  margin-top: 5px;
}

#birth_age{
  margin-left: 60px;
}

#start_label{
  margin-left: 140px;
  font-family: Old Standard TT;
  font-size: 18px;
}

#end_label{
  margin-left: 144px;
  font-family: Old Standard TT;
  font-size: 18px;
}

#date_label{
    font-size: 18px;
    margin-left: 320px;
    width: 150px;
    text-align: center;
}

#user_date_label, #select_date_label{
  font-size: 18px;
  margin-left: 20px;
  width: 150px;
  text-align: center;
}

#month_label{
  font-size: 18px;
  text-align: center;
  margin-left: 70px;
  margin-right: 20px;
  width: 150px;
}

#user_month_label, #select_month_label{
  font-size: 18px;
  text-align: center;
  margin-left: 70px;
  margin-right: 20px;
  width: 150px;
}

#year_label{
  font-size: 18px;
  margin-left: 50px;
  margin-right: 20px;
  width: 150px;
  text-align: center;
}

#user_year_label, #select_year_label{
  font-size: 18px;
  margin-left: 50px;
  margin-right: 20px;
  width: 150px;
  text-align: center;
}

#date_click_button{
  margin-top: 40px;
  margin-left: 440px;
}

.button {
  position: relative;
  overflow: hidden;
  width: 110px;
  height: 50px;
  font-size: 17px;
  display: inline;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.button:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.button:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.button:active:after {
  opacity: 0;
}

#date_linkButton{
  overflow: hidden;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline;
  position: relative;
  display: inline;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

#date_data_output{
    background: linear-gradient(-90deg, #403B4A, #E7E9BB);
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    width: 600px;
    height: 310px;

    margin-top: 30px;
    margin-left: 330px;

    font-family: Trebuchet MS;
    font-size: 18px;
    text-shadow: 1px 1px gray;
    text-align: center;
}


#diff_data_output{
    background: linear-gradient(-90deg, #FF5F6D, #FFC371);
    width: 600px;
    height: 285px;
    margin-left: 240px;
    text-align: center;
    /*align-content: center;*/
    font-family: Trebuchet MS;
    font-size: 20px;
    text-shadow: 1px 1px gray;
}

/* ============================= FOR MODAL BOX ================================== */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 30px auto;
    padding: 0px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }