body {
    background: linear-gradient(to left top, #ffffff 10%, #ddfff1 40%, rgba(215, 239, 144, 0.71) 50%);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: Andale Mono, monospace;
    margin: 10px;
}

select {
    font-size: 15px;
    border: 1px solid gray;
    height: 27px;
    padding: 4px;
    width: 120px;
    margin: 0 10px;
}

ul {
    list-style: none;
}

li > label {
    float: left;
}

form {
    display: -webkit-inline-box;
}


.row {
    display: inline-block;
    width: 100%;
    margin: 0 -5px;
    float: initial;
}

.form-inline {
    display: inline-flex;
}

.col-md-12 {
    width: 100%
    display: inline-flex;
}
.col-md-6 {
    width: 45%;
    float: left;
    margin: 4px 10px;
    display: table;
}
/* common -css */
.fr {
    float: right;
}

.fl {
    float: right;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}
.hide {
    display: none;
}

.none {
    display: none;
    visibility: hidden;
}

.terminal {
    background-color: black;
    color: white;
}

/*for TABS and their display*/

.tab{
    display: inline-flex;
    list-style-type: none;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    margin-left: 300px;
    margin-top: 10px;
    color: black;
}

.tab button:hover,
.tab button.active {
    background-color: #A9A9A9;
    border-radius: 10px;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(1.2);
    color: white;
}

.tabcontent {
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    box-shadow: 0px 0px 9px 2px #564646;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* for select drop downs */

.form-control {
    display: inline-block;
}

/* for button */

button {
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 17px;
    display: inline;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-family: default;
    background-color: black;
    color: whitesmoke;
    border-style: double;
}

/****/
#birth-age {
    margin-left: 12%;
}

#diff-age {
    margin-left: 7%;
}

.submit {
    text-align:center;
    width:100%;
}

.date {
    min-height: 40px;
    position: relative;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 18px;
    text-align: left;
    background-color: rgba(255,255,255,.15);
    top: 10px;
    left: 0px;
    padding: 4px 20px;
    width: auto;
    display: inline-block;
}


.text-shadow {
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.44);
}

.output, .date-input, .zodiac, .countdown, .date-swap {
    display: none;
}

.input {
    bottom: 5px;
    position: relative;
}

.output {
    margin: 0 10px;
    clear: both;
    width: 100%;
}

.calculation {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

ul.list-group > li > label {
    font-size: 13px;
}

ul.list-group > li > span {
    margin-bottom: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    color: gray;
    float: left;
}

.first-form {
    padding-left: 30%;
}

.input-form {
    display: none;
}

.label-title {
    font-size: x-large;
    font-style: italic;
    font-variant: petite-caps;
    margin: 0 auto;
    width: 140px;
    float: left;
}

.form-group {
    margin-right: 10px;
}